

* {
	margin: 0;
	font-family: 'Noto Sans KR', sans-serif !important;
}

*, ::after, ::before {
	box-sizing: border-box;	
}

h3 {
	font-weight: 500;
	line-height: 1.2;
	margin-top: 0;
}

address {
	display: block;
    margin-bottom: 1rem;
    font-style: normal;
    line-height: inherit;
}

ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

li {
	display: lit-item;
	text-align: -webkit-match-parent;
}

a, a:hover {
	text-decoration: none !important;
}

a {
	transition: .3s all ease;
}

a:-webkit-any-link {
    cursor: pointer;
}

footer a {
	color: rgba(0, 0, 0, 0.7);
}

footer h3 {
	font-size: 20px;
	margin-bottom: 20px;
	color: #000;	
}

footer p {
	margin-top: 0;
	margin-bottom: 1rem;
}

.footer {
	display: block;
	padding: 0.5rem 0 0.5rem 0;
	font-size: 15px;
	background-color: #ffffff;
	border-top: solid 2px rgba(210, 215, 217, 0.75);
}

.footer-container {
	max-width: 1140px;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
	padding: 70px 0;
}

.row-1 {
	display: flex;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}

.col-1 {
	-webkit-box-flex: 0;
	flex: 0 0 33.33333%;
	max-width: 33.33333%;
}

.pr-1 {
	padding-left: 7rem !important;
}

.go-home {
	color: #000;
	text-transform: uppercase;
	font-size: 11px;
	letter-spacing: .2rem;
    padding: 10px 0;
    font-weight: 700;
    display: inline-block;
    position: relative;
}

go-home:before {
	content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    background: #000;
    bottom: 0;
    width: 0%;
    -webkit-transition: .3s width ease-in-out;
    -o-transition: .3s width ease-in-out;
    transition: .3s width ease-in-out;
}

.ml-auto-1 {
	margin-left: auto !important;
}

.col-2 {
	position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
	-webkit-box-flex: 0;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}

.col-3 {
	-webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}

.list-unstyled {
	padding-left: 0;
    list-style: none;
}

footer ul li {
	margin-bottom: 10px;
}

.col-4 {
    position: relative;
    width: 100%;
    padding-right: 4px;
    padding-left: 47px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
}

.md-01 {
	margin-bottom: 1rem !important;
}

.col-5 {
	position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}




