@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap');

* {
	font-family: 'Noto Sans KR', sans-serif;
}

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

a, a:hover {
  text-decoration: none !important;
}

.icons-top {
  position: relative;
  bottom: 40px;
  right: 190px;
}

.icons-top, .icons-top li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.icons-top li {
  display: inline-block;
}

.icons-top li a {
  margin: 5px;
  border-radius: 50%;
  background: #fff;
  color: #394f4b;
  width: 30px;
  height: 30px;
  display: inline-block;
  position: relative;
  opacity: .8;
}

.icons-top li a > span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.icons-top li a:hover {
  opacity: 1;
}

.icons-top.icons-dark li a {
  color: #fff;
  background: #000;
  width: 40px;
  height: 40px;
  opacity: 1;
}

.icons-top.icons-dark li a:hover {
  background: #ff896b;
}

/* Site Nav */
.sticky-wrapper {
  z-index: 999;
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.sticky-wrapper .untree_co--site-nav {
  padding-top: 15px;
  padding-bottom: 30px;
  position: fixed;
  left: 0;
  font-weight: 400;
  z-index: 1002;
  width: 100%;
  top: 0;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.sticky-wrapper .untree_co--site-nav .container {
  position: relative;
}

.sticky-wrapper .untree_co--site-nav .logo-wrap {
  position: absolute;
  left: 0;
}

@media (max-width: 767.98px) {
  .sticky-wrapper .untree_co--site-nav .logo-wrap {
    left: 15px;
  }
}

.sticky-wrapper .untree_co--site-nav .icons-wrap {
  position: absolute;
  right: 0;
}

@media (max-width: 767.98px) {
  .sticky-wrapper .untree_co--site-nav .icons-wrap {
    right: 15px;
  }
}

.sticky-wrapper .untree_co--site-nav .logo-wrap, .sticky-wrapper .untree_co--site-nav .icons-wrap {
  z-index: 1003;
}

.sticky-wrapper .untree_co--site-nav .site-nav-ul-wrap {
  width: 100%;
  margin: 0 auto;
  z-index: 1;
  position: relative;
}

.sticky-wrapper .untree_co--site-nav .untree_co--site-logo {
  font-size: 1.3rem;
  color: #7fb77e;
  font-weight: 700;
  margin-left: 200px;
}

.sticky-wrapper .untree_co--site-nav .site-nav-ul {
  text-align: center;
}

.sticky-wrapper .untree_co--site-nav .site-nav-ul, .sticky-wrapper .untree_co--site-nav .site-nav-ul > li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sticky-wrapper .untree_co--site-nav .site-nav-ul > li {
  text-align: left;
  display: inline-block;
}

.sticky-wrapper .untree_co--site-nav .site-nav-ul > li > a {
  padding: 10px 20px;
  display: block;
  text-transform: uppercase;
  letter-spacing: .05rem;
  font-size: 12px;
  position: relative;
  color: #000;
}

.sticky-wrapper .untree_co--site-nav .site-nav-ul > li > a:before {
  left: 20px;
  right: 20px;
  content: "";
  position: absolute;
  height: 1px;
  background: #000;
  bottom: 0;
  width: 0%;
  -webkit-transition: .2s width ease-in-out;
  -o-transition: .2s width ease-in-out;
  transition: .2s width ease-in-out;
}

.sticky-wrapper .untree_co--site-nav .site-nav-ul > li > a:hover {
  color: #000;
}

.sticky-wrapper .untree_co--site-nav .site-nav-ul > li > a:hover:before {
  width: calc(100% - 40px);
}

.sticky-wrapper .untree_co--site-nav .site-nav-ul > li.has-children {
  position: relative;
}

.sticky-wrapper .untree_co--site-nav .site-nav-ul > li.has-children > .dropdown, .sticky-wrapper .untree_co--site-nav .site-nav-ul > li.has-children > ul {
  visibility: hidden;
  opacity: 0;
  z-index: 2;
  position: absolute;
  left: 0;
  top: 100%;
  min-width: 200px;
  background: #fff;
  padding: 20px 0px;
  margin-top: 20px;
  -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.2s 0s;
  -o-transition: 0.2s 0s;
  transition: 0.2s 0s;
}

.sticky-wrapper .untree_co--site-nav .site-nav-ul > li.has-children > .dropdown > li, .sticky-wrapper .untree_co--site-nav .site-nav-ul > li.has-children > ul > li {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 1.5;
}

.sticky-wrapper .untree_co--site-nav .site-nav-ul > li.has-children > .dropdown > li, .sticky-wrapper .untree_co--site-nav .site-nav-ul > li.has-children > ul > li {
  display: block;
  /* 2nd level hover*/
}

.sticky-wrapper .untree_co--site-nav .site-nav-ul > li.has-children > .dropdown > li a, .sticky-wrapper .untree_co--site-nav .site-nav-ul > li.has-children > ul > li a {
  font-size: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  padding-right: 30px;
  display: block;
  color: #000;
}

.sticky-wrapper .untree_co--site-nav .site-nav-ul > li.has-children > .dropdown > li a:hover, .sticky-wrapper .untree_co--site-nav .site-nav-ul > li.has-children > ul > li a:hover {
  color: #000;
  background: #f9f9f9;
  padding-left: 30px;
}

.sticky-wrapper .untree_co--site-nav .site-nav-ul > li.has-children > .dropdown > li.has-children, .sticky-wrapper .untree_co--site-nav .site-nav-ul > li.has-children > ul > li.has-children {
  position: relative;
}

.sticky-wrapper .untree_co--site-nav .site-nav-ul > li.has-children > .dropdown > li.has-children > a, .sticky-wrapper .untree_co--site-nav .site-nav-ul > li.has-children > ul > li.has-children > a {
  position: relative;
}

.sticky-wrapper .untree_co--site-nav .site-nav-ul > li.has-children > .dropdown > li.has-children > a:before, .sticky-wrapper .untree_co--site-nav .site-nav-ul > li.has-children > ul > li.has-children > a:before {
  position: absolute;
  content: "\e315";
  font-size: 16px;
  top: 50%;
  color: #b1d7b4;
  right: 20px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: 'icomoon';
}

.sticky-wrapper .untree_co--site-nav .site-nav-ul > li.has-children > .dropdown > li.has-children > .dropdown, .sticky-wrapper .untree_co--site-nav .site-nav-ul > li.has-children > .dropdown > li.has-children > ul, .sticky-wrapper .untree_co--site-nav .site-nav-ul > li.has-children > ul > li.has-children > .dropdown, .sticky-wrapper .untree_co--site-nav .site-nav-ul > li.has-children > ul > li.has-children > ul {
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 0;
  z-index: 22;
  list-style: none;
  top: 0;
  left: 100%;
  min-width: 200px;
  background: #fff;
  padding: 20px 0px;
  margin-top: 20px;
  -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.2s 0s;
  -o-transition: 0.2s 0s;
  transition: 0.2s 0s;
}

.sticky-wrapper .untree_co--site-nav .site-nav-ul > li.has-children > .dropdown > li.has-children > .dropdown a, .sticky-wrapper .untree_co--site-nav .site-nav-ul > li.has-children > .dropdown > li.has-children > ul a, .sticky-wrapper .untree_co--site-nav .site-nav-ul > li.has-children > ul > li.has-children > .dropdown a, .sticky-wrapper .untree_co--site-nav .site-nav-ul > li.has-children > ul > li.has-children > ul a {
  padding-left: 30px;
  padding-right: 30px;
}

.sticky-wrapper .untree_co--site-nav .site-nav-ul > li.has-children > .dropdown > li:hover, .sticky-wrapper .untree_co--site-nav .site-nav-ul > li.has-children > .dropdown > li:focus, .sticky-wrapper .untree_co--site-nav .site-nav-ul > li.has-children > .dropdown > li:active, .sticky-wrapper .untree_co--site-nav .site-nav-ul > li.has-children > ul > li:hover, .sticky-wrapper .untree_co--site-nav .site-nav-ul > li.has-children > ul > li:focus, .sticky-wrapper .untree_co--site-nav .site-nav-ul > li.has-children > ul > li:active {
  cursor: pointer;
}

.sticky-wrapper .untree_co--site-nav .site-nav-ul > li.has-children > .dropdown > li:hover > .dropdown, .sticky-wrapper .untree_co--site-nav .site-nav-ul > li.has-children > .dropdown > li:focus > .dropdown, .sticky-wrapper .untree_co--site-nav .site-nav-ul > li.has-children > .dropdown > li:active > .dropdown, .sticky-wrapper .untree_co--site-nav .site-nav-ul > li.has-children > ul > li:hover > .dropdown, .sticky-wrapper .untree_co--site-nav .site-nav-ul > li.has-children > ul > li:focus > .dropdown, .sticky-wrapper .untree_co--site-nav .site-nav-ul > li.has-children > ul > li:active > .dropdown {
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  margin-top: 0px;
  visibility: visible;
  opacity: 1;
}

.sticky-wrapper .untree_co--site-nav .site-nav-ul > li.has-children:hover, .sticky-wrapper .untree_co--site-nav .site-nav-ul > li.has-children:focus, .sticky-wrapper .untree_co--site-nav .site-nav-ul > li.has-children:active {
  cursor: pointer;
}

.sticky-wrapper .untree_co--site-nav .site-nav-ul > li.has-children:hover > .dropdown, .sticky-wrapper .untree_co--site-nav .site-nav-ul > li.has-children:focus > .dropdown, .sticky-wrapper .untree_co--site-nav .site-nav-ul > li.has-children:active > .dropdown {
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  margin-top: 0px;
  visibility: visible;
  opacity: 1;
}

.sticky-wrapper .untree_co--site-nav .site-nav-ul > li.active > a {
  position: relative;
}

.sticky-wrapper .untree_co--site-nav .site-nav-ul > li.active > a:before {
  color: #b1d7b4;
  width: calc(100% - 40px);
}

.sticky-wrapper .untree_co--site-nav.dark .untree_co--site-logo {
  color: #b1d7b4;
}

.sticky-wrapper .untree_co--site-nav.dark .site-nav-ul li a {
  color: #b1d7b4;
}

.sticky-wrapper .untree_co--site-nav.dark .site-nav-ul > li > a:before {
  background: #f7f6dc;
}

.sticky-wrapper .untree_co--site-nav.dark .burger:before, .sticky-wrapper .untree_co--site-nav.dark .burger span, .sticky-wrapper .untree_co--site-nav.dark .burger:after {
  background: #b1d7b4;
}

.sticky-wrapper.is-sticky .untree_co--site-nav {
  background: #fff;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.05);
}

@media (min-width: 992px) {
  .sticky-wrapper.is-sticky .untree_co--site-nav {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.sticky-wrapper.is-sticky .untree_co--site-nav a {
  color: #7FB77E;
}

.sticky-wrapper.is-sticky .untree_co--site-nav .site-nav-ul li a {
  color: #000;
}

.sticky-wrapper.is-sticky .untree_co--site-nav .site-nav-ul > li > a:before {
  background: #b1d7b4;
}

.sticky-wrapper.is-sticky .icons-top li a {
  background: #000;
  color: #fff;
  opacity: 1;
}

.sticky-wrapper.is-sticky .icons-top li a:hover {
  background: #b1d7b4;
  color: #fff;
}

.sticky-wrapper.is-sticky .burger:before, .sticky-wrapper.is-sticky .burger span, .sticky-wrapper.is-sticky .burger:after {
  background: #000;
}

/* Mobile nav */
.untree_co--site-mobile-menu {
  position: fixed;
  z-index: 1009;
  height: 100vh;
  background: #fff;
  width: 280px;
  overflow: auto;
  padding-top: 30px;
  padding-bottom: 70px;
  width: 280px;
  left: 0;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: 1s -webkit-transform cubic-bezier(0.23, 1, 0.32, 1);
  transition: 1s -webkit-transform cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: 1s transform cubic-bezier(0.23, 1, 0.32, 1);
  transition: 1s transform cubic-bezier(0.23, 1, 0.32, 1);
  transition: 1s transform cubic-bezier(0.23, 1, 0.32, 1), 1s -webkit-transform cubic-bezier(0.23, 1, 0.32, 1);
}

.offcanvas .untree_co--site-mobile-menu {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}

.untree_co--site-mobile-menu .close-wrap {
  margin-right: 20px;
  position: relative;
}

.untree_co--site-mobile-menu .close-wrap a {
  margin-right: 15px;
}

.untree_co--site-mobile-menu .close-wrap a:hover {
  opacity: .5;
}

.untree_co--site-mobile-menu .close-wrap a .close-label {
  margin-right: 20px;
  color: #b1d7b4;
}

.untree_co--site-mobile-menu .close-wrap a .close-times {
  position: relative;
  margin-top: 4px;
  right: 0;
}

.untree_co--site-mobile-menu .close-wrap a .close-times .bar1, .untree_co--site-mobile-menu .close-wrap a .close-times .bar2 {
  width: 2px;
  height: 20px;
  background: #000;
  position: absolute;
}

.untree_co--site-mobile-menu .close-wrap a .close-times .bar1 {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.untree_co--site-mobile-menu .close-wrap a .close-times .bar2 {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.untree_co--site-mobile-menu ul, .untree_co--site-mobile-menu ul li {
  padding: 0;
  margin: 0;
  position: relative;
}

.untree_co--site-mobile-menu ul a, .untree_co--site-mobile-menu ul li a {
  position: relative;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: #b1d7b4;
}

.untree_co--site-mobile-menu ul a:hover, .untree_co--site-mobile-menu ul li a:hover {
  color: #f7f6dc;
}

.untree_co--site-mobile-menu ul > li > ul > li > a {
  position: relative;
  padding-left: 30px;
  font-size: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.untree_co--site-mobile-menu ul > li > ul > li > ul > li > a {
  position: relative;
  padding-left: 50px;
  font-size: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.untree_co--site-mobile-menu ul > li.has-children .arrow-collapse {
  position: absolute;
  right: 10px;
  top: 0px;
  z-index: 20;
  width: 45px;
  height: 45px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
}

.untree_co--site-mobile-menu ul > li.has-children .arrow-collapse:before {
  font-size: 11px !important;
  z-index: 20;
  font-family: "icomoon";
  content: "\f078";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-180deg);
  -ms-transform: translate(-50%, -50%) rotate(-180deg);
  transform: translate(-50%, -50%) rotate(-180deg);
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.untree_co--site-mobile-menu ul > li.has-children .arrow-collapse.collapsed:before {
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.untree_co--site-mobile-menu ul > li.has-children > ul > li.has-children .arrow-collapse {
  top: -10px;
}

.untree_co--site-wrap {
  width: calc(100%);
  -webkit-transition: 1s -webkit-transform cubic-bezier(0.23, 1, 0.32, 1);
  transition: 1s -webkit-transform cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: 1s transform cubic-bezier(0.23, 1, 0.32, 1);
  transition: 1s transform cubic-bezier(0.23, 1, 0.32, 1);
  transition: 1s transform cubic-bezier(0.23, 1, 0.32, 1), 1s -webkit-transform cubic-bezier(0.23, 1, 0.32, 1);
}

.offcanvas .untree_co--site-wrap {
  -webkit-transform: translateX(80px);
  -ms-transform: translateX(80px);
  transform: translateX(80px);
}

/* Burger */
.burger {
  width: 28px;
  height: 32px;
  cursor: pointer;
  position: relative;
  z-index: 1001;
  float: right;
}

.burger:before, .burger span, .burger:after {
  width: 100%;
  height: 2px;
  display: block;
  background: #fff;
  border-radius: 2px;
  position: absolute;
  opacity: 1;
}

.burger:before, .burger:after {
  -webkit-transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1), background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.35s cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1), background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.35s cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), transform 0.35s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1), background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1);
  transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), transform 0.35s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1), background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1);
  transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), transform 0.35s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1), background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.35s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.35s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1), background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1);
  content: "";
}

.burger:before {
  top: 4px;
}

.burger span {
  top: 15px;
}

.burger:after {
  top: 26px;
}

/* Hover */
.burger:hover:before {
  top: 7px;
}

.burger:hover:after {
  top: 23px;
}

/* Click */
.burger.active span {
  opacity: 0;
}

.burger.active:before, .burger.active:after {
  top: 40%;
}

.burger.active:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=5);
  /*for IE*/
}

.burger.active:after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=-5);
  /*for IE*/
}

.burger:focus {
  outline: none;
}

.featured-rooms {
  background-color: #b4a9a8;
  background-color: #fff;
}

.jarallax-keep-img {
  position: relative;
  z-index: 0;
}

.jarallax-keep-img > .jarallax-img {
  position: relative;
  display: block;
  max-width: 100%;
  height: auto;
  z-index: -100;
}

span[data-jarallax-element] {
  display: inline-block;
}

.jarallax {
  position: relative;
  z-index: 0;
  height: 100vh;
  width: 100%;
}

.jarallax > .jarallax-img {
  position: absolute;
  -o-object-fit: cover;
  object-fit: cover;
  font-family: 'object-fit: cover;';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.with-slider {
  position: relative;
}

.with-slider .swiper-custom-wrap {
  position: absolute;
  right: 0;
  margin-top: 7rem;
  top: 0;
  width: 70%;
}
