<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.teamcommit.kickoff.Service.LoginMapper">

    <!-- 개인 회원 로그인 -->
    <select id="member_login" parameterType="com.teamcommit.kickoff.Do.UserDO" resultType="com.teamcommit.kickoff.Do.UserDO">
        <![CDATA[
        SELECT *
        FROM USERS
        WHERE USER_ID = #{userId} AND USER_PW = #{userPw}
        ]]>
    </select>

    <!-- 업체 회원 로그인 -->
    <select id="emp_login" parameterType="com.teamcommit.kickoff.Do.EmployerDO" resultType="com.teamcommit.kickoff.Do.EmployerDO">
        <![CDATA[
        SELECT *
        FROM EMPLOYER
        WHERE EMP_ID = #{empId} AND EMP_PW = #{empPw}
        ]]>
    </select>

    <!-- 개인 회원 아이디 찾기 -->
    <select id="findUser_id" parameterType="com.teamcommit.kickoff.Do.UserDO" resultType="com.teamcommit.kickoff.Do.UserDO">
        <![CDATA[
        SELECT USER_ID = #{userId}
        FROM USERS
        WHERE USER_NAME = #{userName} AND USER_PHONE_NUMBER = #{userPhoneNumber}
        ]]>
    </select>

    <!-- 업체 회원 아이디 찾기 -->
    <select id="findEmp_id" parameterType="com.teamcommit.kickoff.Do.EmployerDO" resultType="com.teamcommit.kickoff.Do.EmployerDO">
        <![CDATA[
        SELECT EMP_ID = #{empId}
        FROM EMPLOYER
        WHERE EMP_NAME = #{empName} AND EMP_NO = #{empNo}
        ]]>
    </select>

    <!-- 로그인한 이용자 정보 가져오기 -->
    <select id="procSetUserInfo" parameterType="com.teamcommit.kickoff.Do.UserDO" resultType="com.teamcommit.kickoff.Do.UserDO">
        <![CDATA[
        SELECT *
        FROM USERS
        WHERE USER_ID = #{userId}
        ]]>
    </select>

</mapper>