<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teamcommit.kickoff.Service.MessageMapper">

    <insert id = "insertMessage" parameterType="com.teamcommit.kickoff.Do.MessageDO">
        <![CDATA[
        INSERT INTO MESSAGE
        (
            MESSAGE_RECEIVE_ID,
            MESSAGE_SEND_ID,
            MESSAGE_CONTENT,
            MESSAGE_TITLE,
            HELPER_SEQNO
        )
        VALUES (
                #{messageSendId},
                #{messageReceiveId},
                #{messageContent},
                #{messageTitle},
                #{helperSeqno}
               )
        ]]>
    </insert>
</mapper>