@charset "UTF-8";

a {
	text-decoration: none;
}

h5 {
	font-size: 15px;
	font-weight: bold;
	padding-top: 30px;
	padding-bottom: 5px;
}

h5 span {
	color: #bb0000;
}

hr {
	width: 100%;
}

img {
	width: 70px;
	height: 70px;
}

*, ::after, ::before {
	box-sizing: border-box;
}

body {
	text-align: left;
}

.root {
	dispaly: flex;
	flex-direction: column;
	min-width: 360px;
	margin-bottom: 10rem;
}

.root * {
	margin: 0;
}

.root-container {
	display: block;
	position: relative;
	box-sizing: border-box;
	width: 100%;
	max-width: 780px;
	margin-top: 2%;
	margin-left: auto !important;
	margin-right: auto !important;
	padding: 0 !important;
}

.container {
	max-width: 800px;
	position: relative;
	width: 100%;
	margin: auto;
	padding-right: 15px;
	padding-left: 15px;
}

.header-container {
	padding-top: 1rem;
	border-bottom: 1px solid #f2f2f2;
	height: 50px;
}

.btn-container {
	max-width: 800px;
	position: relative;
	width: 100%;
	margin-top: 3%;
	padding-left: 30%;
}

.full-cover {
	background-color: #fff;
	background-position: center;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	top: 0;
}

.picture {
	position: relative;
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
}

.mainImage {
	width: 100%;
	height: 100%;
}

.reservation-container {
	margin: auto;
	min-height: calc(100vh - 400px);
}

.ground-title-content {
	padding: 1rem;
	display: flex;
	justify-content: space-between;
	background-color: #fff;
	border-bottom: solid 3px rgba(210, 215, 217, 0.75);
}

.p-0 {
	padding: 0 !important;
}

.px-md-3 {
	padding-left: 1rem !important;
	padding-right: 1rem !important;
}

.address-wrap {
	flex: 1;
}

h4.title {
	font-size: 16px;
	font-weight: 400px;
}

.time-price-wrap {
	text-align: right;
	white-space: nowrap;
	align-self: center;
}

h3.price {
	font-size: 16px;
	color: #bb0000;
}

.facility-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.facility-wrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: calc(25% - 12px);
	margin: 5px 6px;
	background: #fff;
	padding: 7px;
	text-align: center;
	border-radius: 15px;
}

.img-wrap {
	padding: 8px 5px;
}

.text-dark {
	color: #343a40 !important;
	font-size: 15px;
}

small {
	color: #ff8040;
	font-size: 16px;
	font-weight: bolder;
}

.map-container {
	width: 100%;
	height: 453px;
	/* 추후 border: none; */
	border: 1px solid black;
	border-radius: 10px;
}

#map {
	height: 400px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	position: relative;
	overflow: hidden;
	/* background: url(); */
}

.title-wrap {
	padding: 1rem;
}

.btn {
	font-size: 15px;
	color: #ffffff;
	font-weight: 800;
	display: inline-block;
	padding: 15px 60px 12px;
	margin-right: 15px;
	background: #7fb77e;
	border: none;
	border-radius: 5px;
	text-align: center;
}

.btn:hover {
	background: #ffc090;
}

/* header */
.site-nav-ul-wrap {
	margin-left: 2px !important;
	margin-top: -4px !important;
}

/* title */
.title-container {
	padding-top: 5rem !important;
	padding-bottom: 5rem !important;
	background-color: #7fb77e !important;
}

.title-box {
	max-width: 1140px;
	margin-right: auto;
	margin-left: auto;
	background-color: #7fb77e !important;
}

.px-lg-5 {
	padding-left: 3rem ! important;
	padding-right: 3rem ! important;
}

.text-center {
	text-align: center !important;
	color: #fff !important;
}

h1.title {
	margin-top: 0;
	margin-bottom: 0.5rem;
	font-size: 3.5rem;
	font-weight: 300;
	line-height: 1.2;
	font-family: "Cairo", sans-serif;
}

.sub {
	margin: 0 0 15px 0;
	line-height: 26px;
	font-size: 1.25rem;
	font-weight: 300;
	font-family: "Cairo", sans-serif;
}

.text-white-50 {
	color: rgba(255, 255, 255, 0.5) !important;
}

.mb-0 {
	margin-bottom: 0 !important;
}

/* .fw-bolder {
	font-weight: bolder !important;
}
 */
.fw-normal {
	font-weight: 400 !important;
}


