<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.teamcommit.kickoff.Service.ReservationMapper">

    <!-- Member Info -->

    <!-- Reservation List -->
    <select id="selectReservationList" parameterType="com.teamcommit.kickoff.Do.ReservationDO" resultType="com.teamcommit.kickoff.Do.ReservationDO">
        <![CDATA[
            SELECT *
            FROM
                RESERVATION
        ]]>
    </select>

    <!-- Reservation Insert -->
    <insert id="insertReservation" parameterType="com.teamcommit.kickoff.Do.ReservationDO">
        <![CDATA[
            INSERT INTO RESERVATION (
                RESERVATION_NO,
                EMP_ID,
                PLACE_ID,
                RESERVATION_PLACE_NAME,
                RESERVATION_PLACE_ADDRESS,
                RESERVATION_COURT_NAME,
                RESERVATION_COURT_FORM,
                RESERVATION_DATE,
                RESERVATION_START_TIME,
                RESERVATION_END_TIME,
                RESERVATION_STATUS,
                RESERVATION_PRICE,
                RESERVATION_COMMENT,
                RESERVATION_HEADCOUNT,
                RESERVATION_REG_DATE,
                IMG_NAME,
                IMG_PATH
            )
            VALUES (
                RESERVATION_SEQ.NEXTVAL,
                #{empId},
                #{placeId},
                #{reservationPlaceName},
                #{reservationPlaceAddress},
                #{reservationCourtName},
                #{reservationCourtForm},
                #{reservationDate},
                #{reservationStartTime},
                #{reservationEndTime},
                '예약대기',
                #{reservationPrice},
                #{reservationComment},
                #{reservationHeadcount},
                SYSDATE,
                #{imgName},
                #{imgPath}
            )
        ]]>
    </insert>

    <!-- Reservation Detail -->
    <select id="selectReservationDetail" parameterType="com.teamcommit.kickoff.Do.ReservationDO" resultType="com.teamcommit.kickoff.Do.ReservationDO">
        <![CDATA[
            SELECT *
            FROM
                RESERVATION
            WHERE
                RESERVATION_NO = #{reservationNo}
        ]]>
    </select>

    <!-- Reservation Update -->
    <update id="updateReservation" parameterType="com.teamcommit.kickoff.Do.ReservationDO">
        <![CDATA[
        UPDATE
            RESERVATION_COURT_NAME,
            RESERVATION_COURT_FORM,
            RESERVATION_DATE,
            RESERVATION_START_TIME,
            RESERVATION_END_TIME,
            RESERVATION_STATUS,
            RESERVATION_PRICE,
            RESERVATION_COMMENT
        SET
            #{reservationCourtname},
            #{reservationCourtForm},
            #{reservationDate},
            #{reservationStartTime},
            #{reservationEndTime},
            #{reservationStatus},
            #{reservationPrice},
            #{reservationComment}
        WHERE
            RESERVATION_NO = #{reservationNo}
        ]]>
    </update>

    <!-- place info -->
    <select id="selectPlaceInfo" parameterType="com.teamcommit.kickoff.Do.PlaceDO" resultType="com.teamcommit.kickoff.Do.PlaceDO">
        <![CDATA[
        SELECT *
        FROM
            PLACE
        WHERE
            PLACE_ID = #{placeId}
        ]]>
    </select>

    <!-- img info -->
    <select id="selectImgInfo" parameterType="com.teamcommit.kickoff.Do.PlaceDO" resultType="com.teamcommit.kickoff.Do.PlaceDO">
        <![CDATA[
        SELECT
            IMG_NAME,
            IMG_PATH,
            PLACE_ID
        FROM
            PLACE
        WHERE
            EMP_ID = #{empId}
        ]]>
    </select>

</mapper>
