@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap');
	
	
	* {
		font-family: 'Noto Sans KR', sans-serif;
		padding: 0; 
		margin: 0;
		box-sizing: border-box;
	}
	
	panel, panel-body
	button
	h1 {
		text-align: center;
		font-style: bold;
		margin-top: 0;
    	margin-bottom: 0.5rem;
	}
	
	h4 {
	color: #1c1c1c;
    font-weight: 700;
    border-bottom: 1px solid #B1D7B4;
    width: 100%;
    padding-bottom: 20px;
    margin-bottom: 25px;
    font-size: 24px;
    font-family: 'Noto Sans KR', sans-serif;
	}
	
	.formInline {
		margin-bottom : 1em;
		width: 90px;
	}
	
	.form-control {
		width: 100%;
		margin-bottom: 1em;
	}
	
	body {
		background: #FFF;
  		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		font-family: 'Noto Sans KR', sans-serif;
		margin-top: 100px;
	}
	
	/* #boardWriter {
		float: right;
		position: absolute;
		right: 550px;
	} */
	
	.upload {
		clear: both;
		margin-top: 1em;
		margin-bottom: 1em;
	}	
	
	.table-responsive {
		margin-top: 3em;
	}
	
	label {
		font-style: bold;
	}
	
	textarea {
	width: 100%;
	height: 150px;
	border: 1px solid #ebebeb;
	padding-left: 20px;
	font-size: 16px;
	color: #b2b2b2;
	border-radius: 4px;
	margin-bottom: 20px;
	resize: none;
	}
	
	input {
	width: 100%;
	height: 40px;
	border: 1px solid #ebebeb;
	padding-left: 20px;
	font-size: 16px;
	color: #b2b2b2;
	border-radius: 4px;
	}
	
	button {
	border-radius: 20px;
	font-size: 14px;
	color: #ffffff;
	font-weight: 800;
	text-transform: uppercase;
	display: inline-block;
	padding: 13px 30px 12px;
	background: #B1D7B4;
	border: none;
	margin: 0 auto;
	}
	
.table-responsive .btn_board {
  text-align: center;
  margin: auto;
  display: block;
  margin-bottom: 3em;
}

.filebox input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip:rect(0,0,0,0);
  border: 0;
}

.filebox label {
  display: inline-block;
  padding: .5em .75em;
  color: #999;
  font-size: inherit;
  line-height: normal;
  vertical-align: middle;
  background-color: #fdfdfd;
  cursor: pointer;
  border: 1px solid #ebebeb;
  border-bottom-color: #e2e2e2;
  border-radius: .25em;
}

/* named upload */
.filebox .upload-name {
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-block;
  padding: .5em .75em;
  font-size: inherit;
  font-family: inherit;
  line-height: normal;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #ebebeb;
  border-bottom-color: #e2e2e2;
  border-radius: .25em;
  -webkit-appearance: none; /* 네이티브 외형 감추기 */
  -moz-appearance: none;
  appearance: none;
  height: 41px;
}

/* imaged preview */
.filebox .upload-display {
  margin-bottom: 5px;
}

@media(min-width: 768px) {
  .filebox .upload-display {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 0;
  }
}

.filebox .upload-thumb-wrap {
  display: inline-block;
  width: 54px;
  padding: 2px;
  vertical-align: middle;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

.filebox .upload-display img {
  display: block;
  max-width: 100%;
  width: 100% \9;
  height: auto;
}

.filebox.bs3-primary label {
  font-family: 'Noto Sans KR', sans-serif;
  color: #fff;
  background-color: #B1D7B4;
  border-color: #B1D7B4;
}

.bg-dark {
  --bs-bg-opacity: 1;
  background-color: #B1D7B4 !important;
  color: #FFF;
  width: 100%;
  text-align:center;
  box-sizing: border-box;
  height: 200px;
  text-align: center;
}

.bg-dark .py-5 {
	height: 200px;
	text-align: center;
}

.fw-bolder {
    font-weight: bolder !important;
}

.display-4 {
    font-size: calc(1rem + 2vw);
    font-weight: 300;
    line-height: 1.2;
}

.text-white {
    --bs-text-opacity: 1;
    color: rgba(rgba(255, 255, 255), rgba(--bs-text-opacity)) !important;
}

.text-white-50 {
    color: rgba(255,255,255,.5)!important;
}

.fw-normal {
    font-weight: 400 !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
}

.text-center {
    text-align: center !important;
}

p {
    font-size: 16px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #6f6f6f;
    font-weight: 400;
    line-height: 26px;
    margin: 0 0 15px 0;
}

.px-4 {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
}

.my-5 {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
}

.container, .container-fluid, .container-xxl, .container-xl, .container-lg, .container-md, .container-sm {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-right: auto;
    margin-left: auto;
}

